body {
    background-color: #ffe7ef;
    text-align: center;
    font-family: snigletRegular;
}

header {
    text-align: center;
    font-family: snigletRegular;
}

h1 {
    font-family: sniglet;
    font-size: 50px;
}

@font-face {
    font-family: sniglet;
    src: url(../font/Sniglet-ExtraBold.ttf);
}

@font-face {
    font-family: snigletRegular;
    src: url(../font/Sniglet-Regular.ttf)
}

image {
    width: 30px;
}

h2 {
    text-align: center;
}

p {
    margin: 70px;
}

a {
    margin: 30px;
    padding: 20px; 
    font-size: 20px;
    color: #e49be8;
    text-decoration: none;
    
}

a:hover {
    color: #89578c
}

body {
    margin: 30px;
}