body {
    background-color: #ffe7ef;
    font-family: snigletRegular;
    margin: 30px;
}

header {
    text-align: center;
    font-family: snigletRegular;
}

h1 {
    font-family: sniglet;
    font-size: 50px;
    text-align: center;
}
@font-face {
    font-family: sniglet;
    src: url(../font/Sniglet-ExtraBold.ttf)
}

@font-face {
    font-family: snigletRegular;
    src: url(../font/Sniglet-Regular.ttf)
}

a {
    margin: 30px;
    padding: 20px; 
    font-size: 20px;
    color: #e49be8;
    text-decoration: none;
    
}

a:hover {
    color: #89578c
}

h5 {
    font-size: 30px;
    text-indent: 100px;
    text-align: center;
}

img {
    float: left;
    padding: 20px;
}
}

